# .NET folders
backend/**/bin/
backend/**/obj/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Cache & temp
.cache/
**/.cache/
*.log
.env

# macOS
.DS_Store

# Visual Studio / Rider
.vscode/
.idea/

# .NET local development settings
Properties/launchSettings.json